body {
  background-color: grey;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}

.Appointment-item:hover .trash-icon {
  display: block;
}
.Appointment-item:hover .edit-icon {
  display: block;
}
